*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: white ;
}

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
}

.slider-box{
    width: 800px;
    height: 750px;
    margin: 10px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.texto{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 100px;
    color: black;
}

.texto h2{
    font-size: 20px;
    margin-bottom: 35px;
}

.slider-box img{
    width: 100%;
}

@keyframes slide {
    0%{ margin-left: 0;}
    20% {margin-left: 0;}

    75% { margin-left: -100%;}
    100% { margin-left: -100%;}

}
